<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>装備の使用率のグラフ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <header>
        <h1 class="title">冒険者協会</h1>
        <a class="user-list" href="{{ url_for('user.list') }}">冒険者リスト</a>
        <a class="item-list" href="{{ url_for('item.list') }}">装備リスト</a>
        <a class="status-list" href="{{ url_for('status.list') }}">総合ステータスリスト</a>
    </header>

    <main>
        <div class="chart-container">
            
            <div class="chart_area">
                <canvas id="Item_Chart"></canvas>
            </div> 
        </div>

    </main>

    <script>
        // データの取得
        const item_data = JSON.parse('{{ item_data|tojson }}');
        // グラフの生成
        var ctx = document.getElementById('Item_Chart').getContext('2d');
        var Item_Chart = new Chart(ctx,item_data);
    </script>
</body>
</html>